.barDivide {
  height: 42px;
  width: 100%;
  display: block;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
  display: flex;
  justify-content: CENTER;
  background-color: black;
  .containerBarDivide {
    display: flex;
    justify-content: CENTER;
    p {
      color: white;
      line-height: 40px;
      font-size: 25px;
    }
    .containerBarDivideImg {
      width: 120px;
      margin-left: 20px;
      display: block;
    }
  }
}
